<a href="https://colab.research.google.com/github/Sayan312/Used-Cars/blob/main/Cars_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [16]:
df=pd.read_csv("/content/used_cars_data_raw.csv")

In [42]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Mileage(kmpl),Engine(CC),Power(bhp),Car_Age(Years),Price(in Lakhs),Brand,Model
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,5,26.60,998.0,58.16,15,1.75,Maruti,Wagon R
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,5,19.67,1582.0,126.20,10,12.50,Hyundai,Creta 1.6
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,5,18.20,1199.0,88.70,14,4.50,Honda,Jazz V
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,7,20.77,1248.0,88.76,13,6.00,Maruti,Ertiga VDI
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,5,15.20,1968.0,140.80,12,17.74,Audi,A4 New

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 736.8+ KB

In [19]:
df["Mileage"]=df["Mileage"].str.replace("km/kg"," ")
df["Mileage"]=df["Mileage"].str.replace("kmpl"," ")
df["Mileage"]=df["Mileage"].astype(float)
df["Mileage(kmpl)"]=df["Mileage"]

In [20]:
df.drop(columns="Mileage",inplace=True)

In [21]:
df["Engine"]=df["Engine"].str.replace("CC"," ")
df["Engine"]=df["Engine"].astype(float)
df["Engine(CC)"]=df["Engine"]

In [22]:
df.drop(columns="Engine",inplace=True)

In [27]:
df["Power"]=df["Power"].str.replace("bhp"," ")

In [23]:
df["Power"]=df["Power"].str.replace("null","0")

In [28]:
df["Power"]=df["Power"].astype(float)
df["Power(bhp)"]=df["Power"]
df.drop(columns="Power",inplace=True)

In [29]:
df["Engine(CC)"].mean()

np.float64(1616.5734702372692)

In [30]:
df["Mileage(kmpl)"].mean()

np.float64(18.141580471659083)

In [31]:
df["Power(bhp)"].mean()

np.float64(110.74679963923963)

In [32]:
df["Engine(CC)"]=df["Engine(CC)"].fillna(1616.57)
df["Mileage(kmpl)"]=df["Mileage(kmpl)"].fillna(18.14)
df["Power(bhp)"]=df["Power(bhp)"].fillna(110.75)

In [39]:
df["Brand"]=df["Name"].str.split().str.get(0)

In [40]:
df["Model"]=df["Name"].str.split().str.get(1)+" "+df["Name"].str.split().str.get(2)

In [41]:
df.drop(columns="S.No.",inplace=True)

In [33]:
df["Car_Age(Years)"]=2025-df["Year"]

In [34]:
df["Price"].mean()

np.float64(9.47946835022429)

In [35]:
df["Price"]=df["Price"].fillna(9.48)
df["Price(in Lakhs)"]=df["Price"]
df.drop(columns="Price",inplace=True)

In [36]:
df["Seats"].mean()

np.float64(5.279722222222222)

In [37]:
df["Seats"]=df["Seats"].fillna(5.28)
df["Seats"]=df["Seats"].astype(int)

In [43]:
df.to_csv("cars_data_cleaned.csv",index=False)